.jobCard{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    padding: 12px 22px;
    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    background: linear-gradient(115deg, #ffffffad, #d4dfedc4);
    border-radius: 8px;
    position: relative;
}

.jobId{
    text-align: end;
    margin: 0px;
}

.jobTitle{
    font-size: 1.4rem;
    margin: 4px;
    font-weight: 600;
    color: black;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.jobCompany{
    margin: 0;
}

ul{
    padding-left: 12px;
    margin: 12px;
}

.applyButton p{
    text-align: end;
    padding: 0 12px;
    margin: 4px;
    font-size: 1.3rem;
    color: blue;
    position: absolute;
    bottom: 12px;
    right: 4px;
}

.noJobs{
    margin: auto;
    font-size: 2rem;
    color: #581919;
    font-weight: 900;
}